
<div id="chatSection" class="max-w-3xl mx-auto mt-10 hidden">
  <div class="bg-white rounded-lg p-4 shadow-lg text-black">
    <div id="chat-box" class="h-64 overflow-y-auto border rounded p-3 space-y-2 bg-gray-100"></div>

    <div class="mt-4 flex gap-2">
      <input type="text" id="chat-input" class="flex-1 px-4 py-2 border rounded" placeholder="Type a message..." />
      <button id="send-msg" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded">Send</button>
    </div>
  </div>
</div>
