
    <section id="translateinfo" class=" text-gray-900 py-16 px-4 md:px-20 ">
      <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center gap-8 " >
        <!-- Text Content -->
        <div class="md:w-1/2 bg-gray-800 p-10 ">
          <h2 class="text-3xl font-bold mb-4 text-white ">Automatic Detect & Translate</h2>
          <p class="text-lg leading-relaxed mb-4 text-white">
            मान लीजिए कोई यूजर तमिल भाषा में में लिखता है:--  
            <span class="font-medium">"நீ எங்கே சீக்கிரமா வர்ற?"</span><br />
            तो ऐप उसे पहचानकर हिंदी में दिखाएगा :--<br />
            <span class="font-medium">"तुम कहाँ हो जल्दी आओ"</span> <br><br />अगर यूजर हिंदी में देखना चाहेगा तो<br />
            इससे मैकेनिक आसानी से समस्या समझ पाएगा, चाहे भाषा कोई भी हो — Tamil, Telugu, Gujarati आदि। अब भाषा नहीं बनेगी रुकावट!
          </p>
        </div>